@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h1 class="text-center text-info">
        @ViewData["Title"]
    </h1>
    <hr />
</div>

<p>Use this page to detail your site's privacy policy.</p>
